@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --color-primario: #ffffff;
    --color-fondo-enlaces: #566FB8;
    --color-secundario: #5CC720;
    --color-fondo-texto: #3092FC;
    --color-fondo-formulario: #4C4D4F;
}
body {
    font-family: 'Roboto', sans-serif;
}

/*Estilos Barra de Navegación*/
.navbar {
    min-height: 150px;
}
.btn-primary {
    background-color: var(--color-fondo-enlaces);
    color: var(--color-primario);
    border: none;
    border-radius: none;
    font-size: 12px;
    padding-top: 8px;
    margin-top: 5px;
    height: 33px;
    width: 133px;
    text-align: center;
}
.btn-primary:hover {
    background-color: var(--color-fondo-enlaces);
    color: var(--color-primario);
}
.nav-link {
    border: var(--color-secundario) 2px solid;
    color: var(--color-secundario);
    width: 152px;
    height: 33px;
    margin-top: 5px;
    padding-top: 2px;
    font-size: 17px;
    text-align: center;
}
.nav-link:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}
@media (max-width: 992px) {
    .icono-in {
        margin-left: 64px;
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    .icono-fb {
        margin-left: 60px;
    }
}
@media (max-width: 992px) {
    .inscrip {
        margin-left: 8px;
    }
}

/*seccion quienes somos*/
.main {
    background-color: var(--color-secundario);
}
.quienes-somos {
    margin-left: 100px;
}
.titulo-q {
    font-size: 60px;
    font-weight: 900;
    color: var(--color-fondo-texto);
}
.texto-q {
    background-color: rgba(92, 199, 32, 0.3);
    font-size: 25px;
    color: var(--color-primario);
    font-weight: 700;
}
@media (max-width: 767px) {
    .titulo-q {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .texto-q {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .quienes-somos {
        margin-left: 20px;
        margin-bottom: 0 !important;
    }
}

/*sección contenedores*/
.circle-background {
    width: 200px;
    height: 200px;
    background-color: var(--color-primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 80px;
}
@media (max-width: 1200px) {
    .circle-background {
        margin-left: 50px;
    }
}
@media (max-width: 992px) {
    .circle-background {
        margin-left: 0;
    }
}
h2{
    color: var(--color-fondo-formulario);
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 30px;
}
h3 {
    background-color: var(--color-fondo-enlaces);
    color: var(--color-primario);
    margin-bottom: 10px;
}
.cont-p {
    color: var(--color-primario);
    padding-bottom: 30px;
    text-align:inherit;
}

/*footer*/
.footer {
    background-color: var(--color-fondo-formulario);
    text-align: center;
}
.footer p {
    color: var(--color-primario);
    margin-top: 20px;
}
.footer h3 {
    color: var(--color-primario);
    background-color: var(--color-fondo-texto);
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.boton-footer {
    font-size: 20px;
    text-align: center;
    height: 50px;
}
h4 {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
}
.gran {
    color: var(--color-secundario);
}
.causa {
    color: var(--color-fondo-enlaces);
}
.apellido {
    font-style: italic;
    font-weight: 700;
    color: var(--color-secundario);
}